body{
    background-image: url(pen.jpg);
    background-repeat: no-repeat;
    background-size: 1400px 760px;
}
form{
    border: solid 1px;
    width: 400px;
    margin-left: 100px;
    padding-left: 10px;
}
label{
    font-size: 22px;
    color: black;
    font-weight: bold;
}
input{
    height: 32px;
    width: 300px;
    border-radius: 20px;
}
textarea{
    height: 100px;
    width: 300px;
}
button{
    height: 70px;
    width: 150px;
    background-color: rgb(161, 21, 21);
    color: cornflowerblue;
    font-size: 22px;
    border-radius: 30px;
}
h1{
    text-align: center;
    font-size: 40px;
}