*{
    padding: 0px;
    margin: 0px;
}
ul {
    border: solid 1px;
    width: 330px;
    position: fixed;
    height: 100%;
    background-color: rgb(225, 192, 255);
    padding-top: 60px;
    list-style: none;
}
#text1{
    color: crimson;
    font-size: 40px;
    font-weight: bold;
}
#text2{
    color: crimson;
    font-size: 40px;
    font-weight: bold;
}
ul li{
    border: solid 1px;
    height: 30px;
    width: 150px;
    margin-left: 70px;
    background-color: rgb(0, 255, 115);
    text-align: center;
    line-height: 30px;
    border-radius: 20px;
    margin-bottom: 5px;
}
ul li a{
    color: rgb(7, 4, 0);
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
}
ul li:hover{
    background-color: blue;
}
#Home{
    border: solid 1px;
    height: 580px;
    background-color: lightblue;
    padding-left: 350px;
}
#text3{
    color: rebeccapurple;
    font-size: 56px;
}
#text4{
    color: darkblue;
    font-size: 50px;
}
#text5{
    font-size: 22px;
    font-weight: bold;
}
#bt1{
    height: 60px;
    width: 200px;
    background-color: rgb(76, 66, 110);
    border-radius: 20px;
    color: bisque;
    font-size: 22px;
    font-weight: bold;
    margin-top: 20px;
}
#about{
    border: solid 1px;
    height: 580px;
    background-color: peachpuff;
    padding-left: 335px;
}
#aboutme{
    font-size: 50px;
    color: olive;

}
html{
    scroll-behavior: smooth;
}